@media only screen and (min-width: 768px) {
  .
  .col-8 {width: 66%;}col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33;}
  .col-8 {width: 66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
.bg{
  background-image: url(walp.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.button{
  text-align: center;
  border-style: solid;
  border-color: #ee6f57;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  width: 80%
}

.buttons{
 text-align: center;
 border-style: solid;
 border-color: #ee6f57;
 border-width: 1px;
 padding: 10px;
 border-radius: 5px;
 width: 80%;
}

.buttons:hover{
  text-align: center;
  border-style: solid;
  color: white;
  border-color: red;
  background-color: green;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  width: 80%
}
.button-post{
  color:  #ee6f57;
  border-color: transparent;
}
.button-friend{
  margin-top: -40.4px;
  margin-left: 222px;
  color:  #ee6f57;
  border-color: transparent;
}
.button-tag{
  margin-top: -40.4px;
  margin-left: 444px;
  color:  #ee6f57;
  border-color: transparent;

}
.button-about{
  margin-top: -40.4px;
  margin-left: 666px;
  color:  #ee6f57;
  border-color: transparent;

}
#friendList{
  display: block;
}

#tagList{
  display: block;
}

#listOfTags{
  display: none;
}

#userList{
  display: none;
}

#fullProfile{
  display: none;
}

#postList{
  display: none;
}

#postByTagList{
  display: none;
}

#postComments{
  display: none;
}

#generalPostList{
  display: block;
}

#generalPosts{
  display: none;
}

#information{
  display: block;
}

#aboutUs{
  display: none;
}

.wrapper{
  border-style: solid;
  border-color: #145374 ;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
}

#postTags{
  border-style: solid;
  border-color: #145374;
  border-radius: 4px;
/*  border-width: thick;*/
}

.box{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.g-post{
  width: 100%;
}

.kotak{
  border-radius: 5px;
  border-color: #ee6f57;

}

.pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.font{
  font-size: 20px;
  font-weight: bold;
}

.tag{
  border-style: solid;
  border-color: #145374 ;
/*  border-width: thick;
*/  width: 100%;
 /* height: 50%;*/
 border-radius: 5px
}

.tag:hover{
  border-style: solid;
  border-color: #145374 ;
  background-color: green;
  width: 100%;
  border-radius: 5px
}

.profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

.about{
  margin-left: 11cm;
}
